<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>sodar.server.sign.servlet.SignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>sodar.server.search.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckInServlet</servlet-name>
    <servlet-class>sodar.server.checkin.servlet.CheckInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckInServlet</servlet-name>
    <url-pattern>/CheckIn</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>GetCheckInServlet</servlet-name>
    <servlet-class>sodar.server.checkin.servlet.GetCheckInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCheckInServlet</servlet-name>
    <url-pattern>/CheckIn/getCheckin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserProfileServlet</servlet-name>
    <servlet-class>sodar.server.user.servlet.GetUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserProfileServlet</servlet-name>
    <url-pattern>/User/getUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserProfileServlet</servlet-name>
    <servlet-class>sodar.server.user.servlet.EditUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserProfileServlet</servlet-name>
    <url-pattern>/User/editUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateEventServlet</servlet-name>
    <servlet-class>sodar.server.event.servlet.CreateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEventServlet</servlet-name>
    <url-pattern>/Event/createEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateEventServlet</servlet-name>
    <url-pattern>/Event/publishPlan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetEventServlet</servlet-name>
    <servlet-class>sodar.server.event.servlet.GetEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventServlet</servlet-name>
    <url-pattern>/Event/getEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEventServlet</servlet-name>
    <url-pattern>/Event/getPlan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditEventServlet</servlet-name>
    <servlet-class>sodar.server.event.servlet.EditEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEventServlet</servlet-name>
    <url-pattern>/Event/editEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditEventServlet</servlet-name>
    <url-pattern>/Event/editPlan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveEventServlet</servlet-name>
    <servlet-class>sodar.server.event.servlet.RemoveEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveEventServlet</servlet-name>
    <url-pattern>/Event/removeEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveEventServlet</servlet-name>
    <url-pattern>/Event/removePlan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddParticipantServlet</servlet-name>
    <servlet-class>sodar.server.event.servlet.AddParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParticipantServlet</servlet-name>
    <url-pattern>/Event/addParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetParticipantServlet</servlet-name>
    <servlet-class>sodar.server.event.servlet.GetParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParticipantServlet</servlet-name>
    <url-pattern>/Event/getParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveParticipantServlet</servlet-name>
    <servlet-class>sodar.server.event.servlet.RemoveParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveParticipantServlet</servlet-name>
    <url-pattern>/Event/removeParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeveloperServlet</servlet-name>
    <servlet-class>sodar.server.web.servlet.DeveloperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeveloperServlet</servlet-name>
    <url-pattern>/Developer/getAPIKey</url-pattern>
  </servlet-mapping>
</web-app>